header {
    height: 120px;
    background-color: black;
}
h1 {
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}
main {
    height: calc(100vh - 200px);
}
.card {
    margin: auto;
    height: 400px;
    width: 300px;
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    color: white;
}
img {
    display: block;
    height: 150px;
    width: 150px;
}
.card:hover {
    opacity: 0.8;
    cursor: pointer;
}
footer {
    height: 80px;
    background-color: black;
}
